@model IEnumerable<TaskManager.Models.ProjectModel>

@{

    ViewData["Title"] = "Index";
}

<div class="projects-container">
    <div>
    <div class="start-50 font-style font-normal" style="text-align: center; opacity: 0.7; margin: 20px 0 20px 0;">
        <h1>Выберите проект</h1>
    </div>
    <div>
        <table class="table border" style="background-color: #fff;">
            <thead>
                <tr>
                    <th>
                            @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <div >
                            <tr>
                                <td style="vertical-align: middle;">
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                            <td class="d-flex justify-content-end">
                                    <div style="">
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-action="Edit" asp-route-id="@item.ProjectId">Изменить</a>
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-action="Index" asp-controller="KategoriModels" asp-route-id="@item.ProjectId">Детали</a>
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-action="Delete" asp-route-id="@item.ProjectId">Удалить</a>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    }
            </tbody>
        </table>
    </div>

<div class='light-z light x1'></div>
<div class='light-z light x2'></div>
<div class='light-z light x3'></div>
<div class='light-z light x4'></div>
<div class='light-z light x5'></div>
<div class='light-z light x6'></div>
<div class='light-z light x7'></div>
<div class='light-z light x8'></div>
<div class='light-z light x9'></div>
</div>