@model TaskManager.Models.TaskModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Вы уверены, что готовы удалить?</h3>
<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskImportance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskImportance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.KategoriId">Вернуться к списку</a>
    </form>
</div>
