@model List<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<div class="projects-container">
    <div>
        <div class="start-50 font-style font-normal" style="text-align: center; opacity: 0.7; margin: 20px 0 20px 0; display: flex; justify-content: center; align-content: center">
            <h1>Просмотр Задач</h1>
            <a asp-action="Create" asp-controller="TaskModels" asp-route-id="@Model[0].KategoriId" class="btn btn-primary transparent-button shiny-button" style="position: absolute; left: 30px">Создать новую</a>
        </div>
        <div>
            <table class="table border" style="background-color: #fff;">
                <tbody>
                    @foreach (var item in Model)
                    {
                            <div>
                            <tr>
                                <td style="vertical-align: middle">
                                    Название: @Html.DisplayFor(modelItem => item.TaskName)
                                </td>
                                <td style="vertical-align: middle">
                                    Дедлайн: @Html.DisplayFor(modelItem => item.TaskDeadline)
                                </td>
                                <td style="vertical-align: middle">
                                    Статус: @Html.DisplayFor(modelItem => item.TaskStatus)
                                </td>
                                <td style="vertical-align: middle">
                                    Приоритет: @Html.DisplayFor(modelItem => item.TaskImportance)
                                </td>
                                <td class="d-flex justify-content-end">
                                    <div style="">
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-action="Edit" asp-route-id="@item.TaskId">Изменить</a>
                                        <a type="button" class="btn btn-primary transparent-button shiny-button shiny-button_color-reverse" style="padding: 5px 50px;" asp-action="Delete" asp-route-id="@item.TaskId">Удалить</a>
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-controller="MessangerModel" asp-action="Index" asp-route-id="@item.TaskId">Сообщение</a>
                                        <a type="button" class="btn btn-primary transparent-button shiny-button" style="padding: 5px 50px;" asp-action="Forme" asp-route-id="@item.TaskId">Форма завершения</a>
                                    </div>
                                </td>
                            </tr>
                            </div>
                    }
                </tbody>
        </table>
    </div>

    <div class='light-z light x1'></div>
    <div class='light-z light x2'></div>
    <div class='light-z light x3'></div>
    <div class='light-z light x4'></div>
    <div class='light-z light x5'></div>
    <div class='light-z light x6'></div>
    <div class='light-z light x7'></div>
    <div class='light-z light x8'></div>
    <div class='light-z light x9'></div>
</div>
